body {
    background-color: #A3BAC3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #006989;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    width: 300px;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container label {
    color: white;
    margin-bottom: 5px;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"] {
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.container input[type="submit"] {
    padding: 10px;
    background-color: #fff;
    color: #006989;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
